# ----------------------------------------
# Dependencies
/node_modules
/**/node_modules
/.pnp
.pnp.js

# Build & Production
/build
/dist
/client/dist
/.next/
.client/.next/
.client/app/.next/
**/.next/
**/.next/**

# Out (Next.js export)
out/

# Coverage & Testing
/coverage

# Log files
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Cache
.cache/
.client/.cache/
.npm/
.eslintcache
**/.cache/

# Hot updates
/client/*.hot-update.*

# Environment variables
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Turborepo
.turbo

# System files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
