# Dependencies
/node_modules
/**/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/client/.next/
/client/app/.next/
/**/.next/
/**/.next/**
/.next/**
/out/

# Production
/build
/dist
/client/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Turborepo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE/Editors
.idea/
.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Log Files
logs
*.log

# Cache directories
.cache/
.npm/
.eslintcache
/**/.cache/