# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/

# Игнорировать билд-файлы Next.js
/client/.next/
/client/out/

# Игнорировать зависимости
/client/node_modules/

# Игнорировать кэш и временные файлы
/client/.cache/
/client/*.hot-update.*
/client/.env*.local

# Игнорировать системные файлы (если есть)
/client/.DS_Store
/client/.idea/
/client/.vscode/

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts